:root { 
--gray_600:#747474; 
--gray_50_01:#fcf6fc; 
--gray_700:#606060; 
--pink_50:#feddee; 
--gray_400:#bfbfbf; 
--gray_500:#999999; 
--red_A200:#ff6666; 
--blue_gray_400_3f:#8585a73f; 
--light_blue_50:#ddf2ff; 
--purple_A700_01:#9300d3; 
--gray_50:#fafbfc; 
--light_blue_800:#0076ce; 
--gray_100:#f4f4f4; 
--cyan_100:#c5eaed; 
--black_900:#000000; 
--gray_400_01:#aeb0b4; 
--gray_400_02:#c4c4c4; 
--purple_A700:#9400d3; 
--white_A700_01:#fefefe; 
--purple_50_01:#efd9f9; 
--white_A700:#ffffff; 
--purple_50:#fdddfe; 
}